::selection {
	background: rgba(0,0,0,0.5); /* Safari */
}
::-moz-selection {
	background: rgba(0,0,0,0.5);
	color: #ffffff; /* Firefox */
}
body {
	background: #57cced;
	margin: 50px;
}
h1 { 
	font-size: 90px;
	letter-spacing: -15px;
	color: #fff;
	text-shadow: 5px 0px 10px rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-family: "Museo Sans", Helvetica, sans-serif;
	font-weight: 900;
}